# FiveM
FXSERVER_ARTIFACT_URL=https://runtime.fivem.net/artifacts/fivem/build_proot_linux/master/
SERVER_NAME=Academy PVP Brasil
SERVER_ENDPOINT=0.0.0.0:30120
SV_LICENSE_KEY=COLE_SUA_KEYMASTER_AQUI
MAX_CLIENTS=64

# Database
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=fivem
MYSQL_PASSWORD=troque_essa_senha
MYSQL_DATABASE=fivem_academy

# Optional
LOCALE=pt-BR
TAGS=academy,pvp,aim,treino
